@use "../common/mixins" as *;

/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
.experience {
    .experience-title {
        color: var(--heading-color);
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .experience-item {
        margin-top: -2px;
        margin-left: 25px;
        border-left: 2px solid var(--primary-color);
        position: relative;
        display: flex;

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--primary-color);
            left: -6px;
            top: 22px;
            z-index: 1;
        }

        .experience-card {
            @include card-base;
            flex: 1;
            margin-left: 20px;
            padding: 0 0 12px 0;
        }

        h4 {
            line-height: 20px;
            font-size: 18px;
            font-weight: 600;
            font-family: var(--sub-font-1);
            margin: 0px;
        }

        h5 {
            font-size: 16px;
            display: inline-block;
            font-family: var(--sub-font-1);
            color: color-mix(in srgb, var(--default-color), transparent 20%);
            margin: 0px;
        }

        ul {
            padding-left: 20px;
        }

        &:last-child {
            padding-bottom: 0;

            .experience-card {
                margin-bottom: 0px;
            }
        }

        .icon {
            flex-shrink: 0;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin-right: 12px;
            background: var(--background-color);
            //border: 1px solid var(--primary-color);
            //box-shadow: 0 0 10px color-mix(in srgb, var(--primary-color), transparent 40%);
            box-shadow: 0 0 0 2px var(--primary-color);
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .header {
            padding: 12px 15px;
            margin-bottom: 0;
            border-bottom: 1px solid color-mix(in srgb, var(--primary-color), transparent 80%);
        }

        .header-details {
            padding: 8px 0 0;
            margin-bottom: 0.5rem;
            //border-bottom: 1px solid color-mix(in srgb, var(--primary-color), transparent 80%);

            .fa-icon-bullet {
                width: 20px;
                display: inline-flex;
                padding-right: 22px;
            }
        }

        .buttons {
            padding: 0 15px;
            display: flex;
            flex-wrap: wrap;
        }

        .no-margin {
            margin-bottom: 0;
        }

        p,
        ul {
            margin-bottom: 0.5rem;
            padding-left: 15px;
            padding-right: 15px;
        }

        ul {
            padding-left: 35px;
        }
    }

    .experience-item-spacer {
        height: 20px;
        margin-top: -2px;
        margin-left: 25px;
        border-left: 2px dotted var(--primary-color);
        position: relative;
        display: flex;
    }
}
