@use '../common/mixins' as *;

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 150px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    @include pixel-border;
    transition: all ease-in-out 0.2s;

    &:hover {
        border-color: var(--hero-img-hover);
        cursor: pointer;
        transform: scale(1.05, 1.05);
    }

    &:active {
        transform: scale(1.02, 1.02);
    }
}

.hero .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: fit-content;
    min-height: fit-content;
}

.hero :global(.container) {
    position: relative;
    z-index: 3;
}

.hero h2 {
    margin: 0;
    font-size: 64px;
    font-family: var(--sub-font-2);
    color: var(--hero-title);
}

.hero p {
    margin: 0px 0 0 0;
    font-size: 26px;
}

.hero p.sub-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: var(--sub-font-2);
    color: var(--hero-sub-title);
    margin: 10px 0 0 0;
    text-shadow: var(--shadow-color) 3px 3px;
}

.hero .description {
    text-align: justify;
    text-justify: inter-word;
}

.hero .description p {
    font-size: 16px;
    font-family: var(--sub-font-1);
    margin-bottom: 1em;
}

.hero .description p span {
    color: var(--hero-text-highlight-1);
}

.hero .description p span.sub {
    color: var( --hero-text-highlight-2);
}

.hero .pill-links {
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 20px;
    }
}

.digimon {
    font-weight: bold;
    -webkit-animation: agumon 2000ms infinite;
    animation: agumon 2000ms infinite;
}

.digimon:before {
    content: "DigiDestined";
    background: #000;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    z-index: -1;
    position: absolute;
}

.pokemon {
    color: #fdca16 !important;
    -webkit-animation: pikachu 2000ms infinite;
    animation: pikachu 2000ms infinite;
}

.pokemon:before {
    content: "Pokémon trainer";
    background: #385da7;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    z-index: -1;
    position: absolute;
}

.dnd {
    color: #f00 !important;
    -webkit-animation: spellbook 1000ms infinite;
    animation: spellbook 1000ms infinite;
}

.dnd:before {
    content: "D&D";
    background: #000;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    z-index: -1;
    position: absolute;
}

@-webkit-keyframes pikachu {
    0% {
        cursor: url("/img/home/pikachu/frame_00.gif"), auto;
    }
    28% {
        cursor: url("/img/home/pikachu/frame_01.gif"), auto;
    }
    32% {
        cursor: url("/img/home/pikachu/frame_02.gif"), auto;
    }
    36% {
        cursor: url("/img/home/pikachu/frame_03.gif"), auto;
    }
    40% {
        cursor: url("/img/home/pikachu/frame_04.gif"), auto;
    }
    44% {
        cursor: url("/img/home/pikachu/frame_05.gif"), auto;
    }
    48% {
        cursor: url("/img/home/pikachu/frame_06.gif"), auto;
    }
    52% {
        cursor: url("/img/home/pikachu/frame_07.gif"), auto;
    }
    56% {
        cursor: url("/img/home/pikachu/frame_08.gif"), auto;
    }
    60% {
        cursor: url("/img/home/pikachu/frame_09.gif"), auto;
    }
    64% {
        cursor: url("/img/home/pikachu/frame_10.gif"), auto;
    }
    68% {
        cursor: url("/img/home/pikachu/frame_11.gif"), auto;
    }
    72% {
        cursor: url("/img/home/pikachu/frame_12.gif"), auto;
    }
    76% {
        cursor: url("/img/home/pikachu/frame_13.gif"), auto;
    }
    80% {
        cursor: url("/img/home/pikachu/frame_14.gif"), auto;
    }
    84% {
        cursor: url("/img/home/pikachu/frame_15.gif"), auto;
    }
    88% {
        cursor: url("/img/home/pikachu/frame_16.gif"), auto;
    }
    92% {
        cursor: url("/img/home/pikachu/frame_17.gif"), auto;
    }
    96% {
        cursor: url("/img/home/pikachu/frame_18.gif"), auto;
    }
    100% {
        cursor: url("/img/home/pikachu/frame_19.gif"), auto;
    }
}

@keyframes pikachu {
    0% {
        cursor: url("/img/home/pikachu/frame_00.gif"), auto;
    }
    28% {
        cursor: url("/img/home/pikachu/frame_01.gif"), auto;
    }
    32% {
        cursor: url("/img/home/pikachu/frame_02.gif"), auto;
    }
    36% {
        cursor: url("/img/home/pikachu/frame_03.gif"), auto;
    }
    40% {
        cursor: url("/img/home/pikachu/frame_04.gif"), auto;
    }
    44% {
        cursor: url("/img/home/pikachu/frame_05.gif"), auto;
    }
    48% {
        cursor: url("/img/home/pikachu/frame_06.gif"), auto;
    }
    52% {
        cursor: url("/img/home/pikachu/frame_07.gif"), auto;
    }
    56% {
        cursor: url("/img/home/pikachu/frame_08.gif"), auto;
    }
    60% {
        cursor: url("/img/home/pikachu/frame_09.gif"), auto;
    }
    64% {
        cursor: url("/img/home/pikachu/frame_10.gif"), auto;
    }
    68% {
        cursor: url("/img/home/pikachu/frame_11.gif"), auto;
    }
    72% {
        cursor: url("/img/home/pikachu/frame_12.gif"), auto;
    }
    76% {
        cursor: url("/img/home/pikachu/frame_13.gif"), auto;
    }
    80% {
        cursor: url("/img/home/pikachu/frame_14.gif"), auto;
    }
    84% {
        cursor: url("/img/home/pikachu/frame_15.gif"), auto;
    }
    88% {
        cursor: url("/img/home/pikachu/frame_16.gif"), auto;
    }
    92% {
        cursor: url("/img/home/pikachu/frame_17.gif"), auto;
    }
    96% {
        cursor: url("/img/home/pikachu/frame_18.gif"), auto;
    }
    100% {
        cursor: url("/img/home/pikachu/frame_19.gif"), auto;
    }
}

@-webkit-keyframes agumon {
    0% {
        cursor: url("/img/home/agumon/frame_00.gif"), auto;
    }
    6% {
        cursor: url("/img/home/agumon/frame_01.gif"), auto;
    }
    22% {
        cursor: url("/img/home/agumon/frame_02.gif"), auto;
    }
    28% {
        cursor: url("/img/home/agumon/frame_03.gif"), auto;
    }
    34% {
        cursor: url("/img/home/agumon/frame_04.gif"), auto;
    }
    40% {
        cursor: url("/img/home/agumon/frame_05.gif"), auto;
    }
    46% {
        cursor: url("/img/home/agumon/frame_06.gif"), auto;
    }
    52% {
        cursor: url("/img/home/agumon/frame_07.gif"), auto;
    }
    58% {
        cursor: url("/img/home/agumon/frame_08.gif"), auto;
    }
    64% {
        cursor: url("/img/home/agumon/frame_09.gif"), auto;
    }
    70% {
        cursor: url("/img/home/agumon/frame_10.gif"), auto;
    }
    72% {
        cursor: url("/img/home/agumon/frame_11.gif"), auto;
    }
    76% {
        cursor: url("/img/home/agumon/frame_12.gif"), auto;
    }
    82% {
        cursor: url("/img/home/agumon/frame_13.gif"), auto;
    }
    100% {
        cursor: url("/img/home/agumon/frame_14.gif"), auto;
    }
}

@keyframes agumon {
    0% {
        cursor: url("/img/home/agumon/frame_00.gif"), auto;
    }
    6% {
        cursor: url("/img/home/agumon/frame_01.gif"), auto;
    }
    22% {
        cursor: url("/img/home/agumon/frame_02.gif"), auto;
    }
    28% {
        cursor: url("/img/home/agumon/frame_03.gif"), auto;
    }
    34% {
        cursor: url("/img/home/agumon/frame_04.gif"), auto;
    }
    40% {
        cursor: url("/img/home/agumon/frame_05.gif"), auto;
    }
    46% {
        cursor: url("/img/home/agumon/frame_06.gif"), auto;
    }
    52% {
        cursor: url("/img/home/agumon/frame_07.gif"), auto;
    }
    58% {
        cursor: url("/img/home/agumon/frame_08.gif"), auto;
    }
    64% {
        cursor: url("/img/home/agumon/frame_09.gif"), auto;
    }
    70% {
        cursor: url("/img/home/agumon/frame_10.gif"), auto;
    }
    76% {
        cursor: url("/img/home/agumon/frame_11.gif"), auto;
    }
    72% {
        cursor: url("/img/home/agumon/frame_12.gif"), auto;
    }
    82% {
        cursor: url("/img/home/agumon/frame_13.gif"), auto;
    }
    100% {
        cursor: url("/img/home/agumon/frame_14.gif"), auto;
    }
}

@-webkit-keyframes spellbook {
    0% {
        cursor: url("/img/home/spellbook/frame_00.gif"), auto;
    }
    20% {
        cursor: url("/img/home/spellbook/frame_01.gif"), auto;
    }
    40% {
        cursor: url("/img/home/spellbook/frame_02.gif"), auto;
    }
    60% {
        cursor: url("/img/home/spellbook/frame_03.gif"), auto;
    }
    80% {
        cursor: url("/img/home/spellbook/frame_04.gif"), auto;
    }
    100% {
        cursor: url("/img/home/spellbook/frame_05.gif"), auto;
    }
}

@keyframes spellbook {
    0% {
        cursor: url("/img/home/spellbook/frame_00.gif"), auto;
    }
    20% {
        cursor: url("/img/home/spellbook/frame_01.gif"), auto;
    }
    40% {
        cursor: url("/img/home/spellbook/frame_02.gif"), auto;
    }
    60% {
        cursor: url("/img/home/spellbook/frame_03.gif"), auto;
    }
    80% {
        cursor: url("/img/home/spellbook/frame_04.gif"), auto;
    }
    100% {
        cursor: url("/img/home/spellbook/frame_05.gif"), auto;
    }
}
