/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    text-shadow: var(--shadow-color) 3px 3px;
}

#root {
    height: 100%;
    width: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    filter: opacity(0.8);
}

[data-aos="fade-up"] {
    transform: translate3d(0, 0px, 0);
}