/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
    color: var(--default-color);
    /*background-color: var(--background-color);*/
    position: relative;
    padding: 84px 0 0px 0;
}

@media (max-width: 1199px) {
    .page-title {
        padding: 66px 0 0px 0;
    }
}

.page-title .heading {
    /*padding: 130px 0 60px 0;*/
    padding: 18px 0 18px 0;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.page-title .heading h1 {
    font-size: 38px;
    margin-bottom: 0rem;
}
