/*--------------------------------------------------------------
# Font & Color Variables
--------------------------------------------------------------*/

/* Fonts */
:root {
    --default-font:
        "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Staatliches", sans-serif;
    --nav-font: "Titillium Web", sans-serif;
    --sub-font-1: "Titillium Web", sans-serif;
    --sub-font-2: "Staatliches", sans-serif;
    --header-footer-background: #0f0f0f;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #151617;
    --surface-color: #1a1a1a;

    --default-color: #ededed;
    --heading-color: #ededed;
    --contrast-color: #000000;

    --primary-color: #ff005e;
    --secondary-color: #13fad7;
    --accent-color: #00e5ff;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --page-title: var(--secondary-color);
    --nav-color: var(--default-color);
    --nav-selected-color: var(--primary-color);
    --nav-hover-color: var(--primary-color);
    --nav-mobile-background-color: var(--surface-color);
}

/* Button Colors */
:root {
    --button-color: var(--primary-color);
    --button-hover: var(--secondary-color);
    --button-text-color: var(--default-color);
    --button-text-hover: var(--contrast-color);
}

/* Isotope filters colors */
:root {
    --isotope-filter-selected: var(--secondary-color);
    --isotope-filter-hover: var(--secondary-color);
}

/* Other colors */
:root {
    --hero-title: var(--secondary-color);
    --hero-sub-title: var(--primary-color);
    --hero-text-highlight-1: var(--secondary-color);
    --hero-text-highlight-2: var(--secondary-color);
    --hero-img-hover: var(--primary-color);

    --swiper-arrows: var(--primary-color);
    --swiper-bullets: var(--primary-color);

    --markdown-toc-text: var(--default-color);
    --markdown-toc-border: var(--default-color);
    --markdown-toc-border-open: var(--secondary-color);
    --markdown-toc-text-open: var(--secondary-color);
    --markdown-toc-border-hover: var(--secondary-color);
    --markdown-toc-text-hover: var(--default-color);
}

/* Swiper buttons */
:root {
    --swiper-pagination-bottom: 5px;
    --swiper-pagination-top: auto;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}
